@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

body{
    overflow-x: hidden;
    font-family: 'Outfit', sans-serif;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
}

select {
    border: 0px;
    background-color: #fff;

    cursor: pointer;
    width: 100%; 
}